:root {
  --primary-text-color: #757575;
  --second-text-color: rgba(255, 255, 255, 0.6);
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --prinary-white-color: #ffffff;
  --prinary-black-color: #000000;
  --hero-background-color: #c4c4c4;
  --second-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --btn-active-color: #188ce8;
  --border-color: #ececec;
  --border-portf-color: #eee;
  --icons-color: #afb1b8;
  --icons-footer: rgba(255, 255, 255, 0.1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

body {
  background-color: var(--prinary-white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* HEADER */
.header {
  border-bottom: 1px solid var(--border-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts-item:not(:last-child) {
  margin-right: 50px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--prinary-black-color);
  text-decoration: none;
  margin-right: 93px;
}

.accent {
  color: var(--accent-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: var(--accent-text-color);
  border-radius: 2px;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-text-color);
}

.active {
  color: var(--accent-text-color);
}
.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-email,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.email-icon,
.tel-icon {
  margin-right: 10px;
  vertical-align: middle;
  fill: currentColor;
}
.header-contacts-item {
  display: flex;
  align-items: center;
}

.header-email,
.header-tel {
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-email:hover,
.header-email:focus,
.header-tel:hover,
.contact-tel:focus {
  color: var(--accent-text-color);
}

/* HERO */

.hero-section {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-background-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--prinary-white-color);
  margin-bottom: 30px;
}

.hero-btn {
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--prinary-white-color);
  background-color: var(--accent-text-color);
  border-radius: 4px;
  border: none;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--btn-active-color);
}

/* FEATURES-SECTION */

.features-list-item {
  width: 270px;
  margin-right: 30px;
}
.features-list-item:nth-child(4n) {
  margin-right: 0;
}
.features-list {
  display: flex;
}

.features-icons-bckg {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--third-background-color);
  border-radius: 4px;
  display: inline-flex;
  content: "";
  justify-content: center;
  align-items: center;
}

.features-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* EXAMPLES-SECTION */

.work-examples-section {
  padding-bottom: 94px;
}
.second-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.examples-img {
  display: flex;
}

.example-item:not(:last-child) {
  margin-right: 30px;
}

.examples-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--prinary-white-color);
}

.example-item {
  position: relative;
}

.example-wrap {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TEAM-SECTION */

.team-list {
  display: flex;
}

.team-member {
  background-color: var(--prinary-white-color);
  width: 270px;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member:nth-child(4n) {
  margin-right: 0;
}

.team-section {
  background-color: var(--third-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-member-jobtitle {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.social-link {
  fill: var(--icons-color);
}

.social-links-list {
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms linear, fill 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-shape {
  padding-right: 10px;
}

.social-links-list :last-child {
  padding-right: 0;
}

.social-link:hover,
.social-link:focus {
  fill: var(--prinary-white-color);
  background-color: var(--accent-text-color);
}

/* CLIENTS-SECTION */

.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-clients {
  display: flex;
  justify-content: center;
}

.client-logo {
  width: 170px;
  height: 92px;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-logo:hover,
.client-logo:focus {
  border: 1px solid var(--accent-text-color);
}

.client-icon {
  fill: var(--icons-color);
}

.client-logo .client-icon {
  transition: fill 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-logo:hover .client-icon,
.client-logo:focus .client-icon {
  fill: var(--accent-text-color);
}

.client {
  margin-right: 30px;
}

.client:last-child {
  margin-right: 0;
}

/* FOOTER */

.footer {
  background-color: var(--second-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-info {
  display: flex;
  align-items: baseline;
}

.logo-second {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--prinary-white-color);
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
}

.adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--prinary-white-color);
  margin-bottom: 9px;
}

.footer-email {
  margin-bottom: 9px;
  display: inline-block;
}

.footer-email,
.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.join {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--prinary-white-color);
}

.social-link-footer {
  fill: var(--prinary-white-color);
  background-color: var(--icons-footer);
  margin-right: 10px;
}

.social-links-list-footer {
  padding-top: 20px;
}

.footer-right-colomn {
  margin-left: 70px;
}

/* PORTFOLIO */
.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* MENU-SECTION */

.menu-section {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.portfolio-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--third-background-color);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  transition: background-color 250ms linear, color 250ms linear,
    box-shadow 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-portfolio:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-text-color);
  color: var(--prinary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* PORTFOLIO-SECTION */

.portfolio-examples {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-examples-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-example-text {
  padding: 63px 24px;
  position: absolute;
  top: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--prinary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.portfolio-example-item {
  background-color: var(--prinary-white-color);
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-example-item:hover .portfolio-example-text {
  transform: translateY(0);
}

.portfolio-example-item:hover,
.portfolio-example-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-example-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-example-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-info {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid var(--border-portf-color);
  border-right: 1px solid var(--border-portf-color);
  border-left: 1px solid var(--border-portf-color);
}

.portfolio-examples-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-category-name {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

/* MODAL */

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 250ms linear, visibility 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--prinary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  transition: fill 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  fill: var(--accent-text-color);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--prinary-black-color);
  padding-left: 42px;
  padding-right: 16px;
  outline: transparent;
  transition: border 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border: 1px solid var(--accent-text-color);
}

.modal-btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-text-color);
  color: var(--prinary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 30px;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--btn-active-color);
}

.modal-icon {
  fill: var(--title-text-color);
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
  fill: var(--accent-text-color);
}

.input-wrap {
  display: block;
  position: relative;
  margin-bottom: 10px;
}

.input-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.input-text {
  display: block;
  margin-bottom: 4px;
}

.comment-text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: transparent;
  transition: border 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-text:focus {
  border: 1px solid var(--accent-text-color);
}

.comment-text::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.check-link {
  color: var(--accent-text-color);
  margin-left: 3px;
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.input-check:checked + .check-text span {
  background-color: var(--accent-text-color);
  border-color: transparent;
  fill: var(--prinary-white-color);
}

.input-check:focus + .check-text span {
  border-color: var(--accent-text-color);
}

.check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
}

/* .check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px; */
/* background-image: url(../images/border-check.svg); */
/* margin-right: 8px;
} */

/* .input-check:checked + .check-text::before {
  background-color: var(--accent-text-color);
  border-color: transparent;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */

/* FOOTER-MODAL */

.footer-modal-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  transition: border 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-modal-input:focus {
  border: 1px solid var(--accent-text-color);
}

.footer-input-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--prinary-white-color);
}

.footer-input-text {
  display: block;
  margin-bottom: 20px;
}

.footer-modal-btn {
  min-width: 200px;
  height: 50px;
  background: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  padding: 0;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin-left: 12px;
  color: var(--prinary-white-color);
  border: none;
  transition: background-color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-modal-btn:hover,
.footer-modal-btn:focus {
  background-color: var(--btn-active-color);
}

.footer-btn-icon {
  vertical-align: middle;
  margin-left: 10px;
  fill: var(--prinary-white-color);
}

.footer-modal {
  margin-left: 93px;
}
